.comments-title {
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-bottom: 15px;
  align-self: center;
}
.all-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: 10px;
}

.all-comments-container > .comment-container:not(:last-child) {
  margin-bottom: 20px;
}

.comment-container {
  display: flex;
  flex-direction: row;
  color: #000000;
}

.comment-container > div:not(:last-child) {
  margin-right: 15px;
}

.comment-user {
  font-weight: bolder;
}

.comment-message {
  width: 200px;
  word-wrap: break-word;
  white-space: normal;
}

.custom-box {
  width: 500px;
  height: 460px;
  overflow-y: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 30px 50px;

  &::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
  }
}
