.uploader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.uploader-container .clickable:hover {
  background-color: var(--color-primary-hover);
}

#file-input {
  margin-right: 20px;
}
